body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    margin: 0;
}

header {
    background-color: #ffc107;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

p {
    font-size: 1.2em;
    margin-top: 5px;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#prompt-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

button {
    font-size: 1.5em;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    transition: background-color 0.3s ease;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

/* Spezifisches Styling für den Lösch-Button */
#delete-button {
    background-color: #ff5722;
}

#delete-button:hover {
    background-color: #e64a19;
}

#delete-button:active {
    background-color: #d84315;
}

#admin-section {
    margin-top: 30px;
}

input[type="text"] {
    font-size: 1em;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
